!rofi
rofi.color-enabled: true

rofi.color-window: #99033865, #FFFFFF

!state             'bg',      'fg',    'bgalt',   'hlbg',  'hlfg'
rofi.color-normal: #00000000, #ffffff, #00000000, #ffffff, #000000

!bg Background color row
!fg Text color
!bgalt Background color alternating row
!hlfg Foreground color selected row
!hlbg Background color selected row
